.main__container {
  // width: 80%;
  margin-inline: auto;
  position: absolute;
  bottom: 0;
}

.marquee {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 1rem;

}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  // min-width: 80%;
}

.marquee__content>* {
  flex: 0 0 auto;
  color: red;
  text-align: center;
  white-space: nowrap;
}

.marquee__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  letter-spacing: 1;
}

ul {
  padding-left: 0;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 5rem));
  }
}

.enable-animation .marquee__content {
  animation: scroll 40s linear infinite;
}

.marquee:hover .marquee__content {
  animation-play-state: paused;
}

.marquee--reverse .marquee__content {
  animation-direction: reverse !important;
}