.main__container {
  width: 100svh;
  margin-inline: auto;
  position: absolute;
  left: -45svh;
  rotate: -90deg;
}

.marquee {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 5rem;
  // border-top: 2px dashed lightgray;
  // border-bottom: 2px dashed lightgray;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  min-width: 100%;
}

.marquee__content>* {
  flex: 0 0 auto;
  color: red;
  text-align: center;
  // background: #e8daef;
  // margin: 2px;
  // padding: 1rem 2rem;
  // border-radius: 0.25rem;
}

.marquee__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 180px;
  letter-spacing: 1;
}

ul {
  padding-left: 0;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 5rem));
  }
}

.enable-animation .marquee__content {
  animation: scroll 40s linear infinite;
}

.marquee:hover .marquee__content {
  animation-play-state: paused;
}

.marquee--reverse .marquee__content {
  animation-direction: reverse !important;
}